<% category = local[:category] %>

<li class="main-nav-list"><a data-toggle="collapse" href="#" aria-expanded="false" aria-controls="fruitsVegetable"><span
class="lnr lnr-arrow-right"></span> <a href=<%="#{search_path(category: category.title)}"%>> <%= category.title%></a></a></li>