<div class="col-xl-3 col-lg-4 col-md-5">


<% categories = locals[:categories] %>
<div class="sidebar-categories">
<div class="head">Browse Categories</div>
<ul class="main-categories">
      <% categories.each do | category|%>
  <%= render 'items/partials/SidebarCategory', :local=>{category: category} %>

      <%end%>

<ul/>

</div>